
.calendar .calendar__grid {
    flex-wrap: wrap;
    margin: -5px -5px 0;
}

.calendar__grid-tile {
    flex-basis: auto;
    width: calc(100% / 7);
    max-height: 135px;
    height: 30px;
    height: 10vw;
}

.calendar__grid-header {
    height: auto;
    padding: 3px 5px;
    padding: 1vw 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar__grid-tile--disabled .calendar__grid-tile-content {
    background: #ffffff;
    color: #a0a0a0;
    border: 1px solid #eaeaea;
}

.calendar__grid-tile-content {
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    padding: 2vw;
    text-align: left;
    line-height: 1;
    border: 1px solid #eaeaea;
    border-radius: 1px;
}

.calendar__nav .dropdown-content {
    max-height: 180px;
    overflow: auto;
}

.pagination {
    margin: 0;
}

.pagination__button--disabled,
.pagination__button--disabled:hover {
    color: #cecece;
}

@media screen and (max-width: 768px), print {

    .calendar .calendar__grid,
    .level-item,
    .dropdown-item,
    .button,
    .input,
    .textarea,
    .select select,
    .file-cta,
    .file-name,
    .pagination-previous,
    .pagination-next,
    .pagination-link,
    .pagination-ellipsis {
        font-size: 12px;
    }

    .calendar .calendar__grid {
        margin-left: 1px;
        margin-right: 1px;
    }

    .calendar__grid,
    .level,
    .level-left,
    .level-right {
        display: flex;
    }

    .calendar__grid-tile {
        margin: -1px;
    }

    .calendar__grid-tile-content {
        margin: 0;
    }

    .level-left .level-item:not(:last-child),
    .level-right .level-item:not(:last-child) {
        margin-right: 0.75rem;
    }

    .level-item:not(:last-child) {
        margin-bottom: 0;
    }

    .level-left + .level-right {
        margin-top: 0;
    }

    .dropdown-menu {
        min-width: 150px;
    }

    a.dropdown-item {
        padding-right: 10px;
    }
}